doctype html
html
  
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
  
	body
    
		div#header
			a#nav(href="/") Home
			a#nav(href="/about") About
			a#nav(href="/contact") Contact
		
	
		div#body
			block content
		
		div#footer
			p Copyright Johnathan Crocker 2017
