#header {
	background-color: #ff9400;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	width: 75%;
}

#body {
	background-color: cream;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	width: 75%;
}

#footer {
	background-color: #ff9400;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 10px;
	width: 75%;
}

#nav {
	text-decoration: none;
	color: black;
	font-size: 30pt;
	padding-left: 10px;
}

#content {
	color: black;
	font-size: 16pt;
	text-align: left;
}
